*{
  padding: 0;
  margin: 0;
  font-family: poppins;
}
.nav{
  display: flex;
  height: 10vh;
  width: 100%;
}
.slider1{
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 30px;
  margin-left: 50px;
}
svg{
  height: 1.5em;
  width: 1.5em;
  font-weight: normal;
  margin-top: 30px;
  float: right;
  margin-right: 50px;
  color: orange;
  cursor: pointer;
}
.right{
  height: 100%;
  width: 50%;
}
.left{
  height: 100%;
  width: 50%;
}
h1{
  font-size: 1.5em;
  font-weight: normal;
}
.ikot{
  font-size: 1.1em;
  font-weight: normal;
  margin-left: 50px;
}
.title{
  font-size: 2em;
  margin-top: 400px;
  margin-left: 50px;
}
.semi-title{
  font-size: 1.5em;
  margin-left: 50px;
}
.white-text{
  color: white;
}

.black-background{
  background-color: black;
}
.haha{
  background-color: #fff;
}
.main2{
  height: 50vh;
  width: 80%;
  margin: auto;
  margin-top: 50vh;
  overflow: hidden;
}
.semi-box{
  height: 100%;
  width: 100%;
  background-color: black;
}
.third-box{
  height: 50vh;
  width: 80%;
  margin: auto;
  background-color: black;
  margin-top: 50vh;
}
h2{
  position: absolute;
  font-size: 70px;
  text-align: center;
  margin-top: 17%;
  margin-left: 70px;
}

@media(max-width: 480px){
  .title{
    margin-left: 20px;
    margin-top: 300px;
  }
  .semi-title{
    margin-left: 20px;
  }
  .slider1{
    margin-left: 20px;
  }
  .ikot{
    margin-left: 20px;
  }
  svg{
    margin-right: 20px;
    cursor: pointer;
  }
  h2{
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 13vh;
  }
  .main2{
    height: 30vh;
  }
}